@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;500;600;700;800;900&family=Archivo+Black&family=Barlow:wght@300;400;500;600;700;800;900&family=Bellefair&family=Cormorant+Unicase:wght@700&family=Dancing+Script:wght@400;500;700&family=Gugi&family=Inter:wght@300;500;700;800;900&family=Koulen&family=Lato:wght@400;700;900&family=Oxygen:wght@300;400;700&family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Radio+Canada:wght@300;500;600;700&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto+Condensed&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&family=Roboto+Mono:wght@700&family=Roboto:wght@400;500;700;900&family=Rubik+Wet+Paint&family=Rubik:wght@600&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body{
  background: #0a192f;
}
html{
  scroll-behavior: smooth;
}
$gradient1:rgba(4, 12, 27, 0.452);
$gradient2:rgb(16, 1, 20);
$textColor:#ccd6f6;
$secondaryColor:#64ffda;
$navColor:#0a192f;
$headerColor:#444649;

// social media icons
.social{
  width: 5%;
  height: 50vh;
  position: fixed;
  right: 0;
  border: 2px solid #64ffda;
  border-right: none;
  .git{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #64ffda;
    font-size: 1.5rem;
    transition: all linear .5s;
    &:hover{
      transform: translateX(-10%);
    }
  }
  .LinkedIn{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #64ffda;
    transition: all linear .5s;
    &:hover{
      transform: translateX(-10%);
    }
  }
  .IG{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    color: #64ffda;
    transition: all linear .5s;
    &:hover{
      transform: translateX(-10%);
    }
  }
  .Twiter{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    color: #64ffda;
    transition: all linear .5s;
    &:hover{
      transform: translateX(-10%);
    }
  }
}

// first page
main{
  width: 100%;
  height: 100vh;
  background: #0a192f;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
  p{
    font-family: 'Roboto Mono', monospace;
    color: $textColor;
    width: 70%;
    font-size: 2vw;
    font-weight: 500;
    margin-left: 5%;
    color: #64ffda;
    font-weight: 400;
  }
  h1{
    @media (max-width:480px) {
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
      padding: 2%;
    }
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 5%;
    color: #8892b0;
    width: 70%;
    font-size: 5vw;
    font-weight: 500;
    span{
      color: $textColor;
      font-family: 'Roboto Mono', monospace;
    }
  }
  .shortDesc{
    font-family: 'Roboto Mono', monospace;
    color: $textColor;
    width: 70%;
    font-size: 2vw;
    font-weight: 500;
    margin-left: 5%;
    font-weight: 400;
  }
  button{
    @media (max-width:480px) {
      width: 80%;
      height: 10%;
    }
    font-family: 'Poppins', sans-serif;
    margin-top: 3%;
    margin-left: 5%;
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
    gap: 8%;
    align-items: center;
    background: transparent;
    border: 1px solid #64ffda;
    transition: all .5s linear !important;
    cursor: pointer;
    &:hover{
      background: rgba(4, 194, 201, 0.22);
    }
    a{
      font-family: 'Roboto Mono', monospace;
      text-decoration: none;
      font-size: 1.5vw;
      color: #64ffda;
      @media (max-width:480px) {
        font-size: 1rem;
      }
    }
    .icon{
      color: #64ffda;
      font-size: 1.5vw;
      @media (max-width:480px) {
        font-size: 1rem;
      }
    }
  }
}
// end of first page

// nav starts
nav{
  width: 100%;
  height: 15vh;
  background-color: $navColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
  padding: 2%;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 3px solid #04c2c9;
  .left{
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding-left: 2.5%;
    a{
      text-decoration: none;
      color: $textColor;
      font-size: 1.2vw;
      transition: all .5s linear;
      &:hover{
        color: $secondaryColor;
      }
      @media (max-width:480px) {
        display: none;
      }
    }
  }
  .right{
    width: 15%;
  }
  button{
    width: 100%;
    height: 8vh;
    border: 1px solid $secondaryColor;
    background: transparent;
    color: $secondaryColor;
    font-weight: 500;
    border-radius: 5px;
    font-size: 1.2vw;
    transition: all .5s linear;
    cursor: pointer;
    &:hover{
      background:#04c2c91f;
    }
  }

  .icon{
    display: none;
    @media (max-width:480px) {
      display: block;
      font-size: 2rem;
      color: $textColor;
    }
  }
  .Animate{
    @media (max-width:480px) {
      display: block;
    }
    display: none;
    width: 100%;
    height: 50vh;
    background-color: #333;
    position: absolute;
    box-shadow: 2px 2px 4px grey;
    margin-left: -2%;
    z-index: 60;
    a{
      display: block;
      font-size: 1.2rem;
      margin: 2%;
      padding: 2% 0%;
      border-bottom: 1px solid #fff;
    }
  }
  .firstAimate{
    @media (max-width:480px) {
      display: block;
    }
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #010214a6;
  }
}
// nav end

// About page starts
.about{
  width: 100%;
  height: auto;
  h1{
    color: $headerColor ;
    margin-top: 8%;
    text-align: center;
    font-size: 3vw;
    @media (max-width:480px) {
      font-size: 2rem;
    }
  }
  .flex{
    @media (max-width:480px) {
      flex-direction: column;
    }
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    .left{
      @media (max-width:480px) {
        margin-bottom: 4%;
      }
      height: 300px;
      width: 300px;
      border-radius: 12px;
      background-color: #1b242f;
      position: relative;
      &:hover{
        cursor: pointer;
        img{
          margin-left: 0%;
          margin-top: 0%;
          filter: none;
          background: none;
        }
        .shadow{
          opacity: 0;
          margin-left: 0%;
          margin-top: 0%;
        }
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .5s linear;
        border-radius: 12px;
        margin-left: 15%;
        margin-top: 5%;
        background: #fff;
      }
      .shadow{
        width: 300px;
        height: 300px;
        position: absolute;
        border-radius: 12px;
        margin-left: 15%;
        margin-top: 5%;
        background: #64ffdb70;
        transition: all .5s linear;
      }
    }
    .right{
      @media (max-width:480px) {
        width: 100%;
        padding: 2%;
      }
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      h1{
        font-family: 'Roboto Flex', sans-serif;
        color: $textColor;
        margin-bottom: 5%;
      }
      p{
        @media (max-width:480px) {
          font-size: 1rem;
        }
        font-size: 2vw;
        line-height: 150%;
        font-family: 'Roboto Flex', sans-serif;
        color: #8892b0;
      }
    }
  }
}
// About page ends

// Accordion page starts
.accordion{
  @media (max-width:480px) {
    width: 100%;
    padding: 2%;
  }
  width: 80%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  .head{
    width: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
    cursor: pointer;
    .icon{
      color: #64ffda;
    }
    p{
      @media (max-width:480px) {
        font-size: 1rem;
      }
      font-size: 1.5vw;
      font-weight: 700;
      color: $textColor;
    }
  }
  .foot{
    @media (max-width:480px) {
      font-size: .8rem;
    }
    font-size: 1.5vw;
    line-height: 30px;
    margin-top: 2%;
    padding-left: 4%;
    font-weight: 500;
    color: #8892b0;
  }
  p{
    @media (max-width:480px) {
      font-size: 1rem;
    }
    font-size: 1.5vw;
    font-weight: 700;
    color: $textColor;
  }
  .tech{
    display: flex;
  }
  ul{
    @media (max-width:480px) {
      font-size: 1rem;
    }
    font-size: 1.2vw;
    font-weight: 700;
    color: $textColor;
    margin-left: 2%;
    margin-top: 2%;
    li{
      margin-top: 5%;
      margin-bottom: 8%;
    }
  }
}
// Accordion page ends

// experience
.experience {
  width: 60%;
  margin: auto;
  height: 60vh;
  margin-top: 5%;
  display: flex;
  .expContainer{
    width: 20%;
    height: 100%;
    display: flex;
    border-left: 2px solid #233554;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    .expList{
      font-size: 1vw;
      font-weight: 500;
      padding: 8% 5%;
      list-style-type: none;
      cursor: pointer;
      transition: all .5s linear;
      color: #8892b0;
      &:hover{
        background: #112240;
      }
      &.active{
        border-left: 3px solid #64ffda;
        background: #112240;
        color: #64ffda;
        font-family: 'Roboto Flex', sans-serif;
      }
    }
  }
  .desc{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    gap: 8%;
    h1{
      font-size: 1.5vw;
      color: $textColor;
    }
    .companyName{
      color: #64ffda;
    }
    .date{
      font-size: 1.2vw;
      color: #8892b0;
      font-weight: 900;
    }
    ul{
      font-size: 1.2vw;
      font-weight: 500;
      color: #8892b0;
      li{
        margin-top: 2%;
        line-height: 30px;
        color: #64ffda;
        span{
          color: #8892b0;
        }
      }
    }
  }
}
// experience ends

// portfolio start
.portfolio{
  width: 80%;
  margin: auto;
  margin-top: 10%;
  height: auto;
  position: relative;
  h1{
    @media (max-width:480px) {
      font-size: 2rem;
    }
    color: $textColor ;
    margin-top: 8%;
    font-size: 3vw;
  }
  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    .left{
      width: 60%;
      height: 60%;
      background:white;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      &:hover{
        .shadow{
          opacity: 0;
        }
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .shadow{
        width: 100%;
        height: 100%;
        position: absolute;
        background: #64ffdb70;
        transition: all .5s linear;
      }
    }
    .right{
      width: 40%;
      height: 70%;
      position: relative;
      .featured{
        p{
          text-align: right !important;
          font-size: 1.5vw;
          font-weight: 800;
          color:#04c2c9;
        }
      }
      h1{
        font-size: 1.5vw;
        text-align: right;
      }
      .about{
        background: #0a192f;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 40vw;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 25%;
        height: 30vh;
        left: -30%;
        font-size: 1.2vw;
        padding: 5%;
        color: #8892b0;
        line-height: 20px;
        p{
          text-align: right;
        }
      }
      .lang{
        margin-top: 55%;
        display: flex;
        justify-content: center;
        width: 90%;
        margin-left: 10%;
        gap: 5%;
        flex-wrap: wrap;
        p{
          text-align: right;
          margin-top: 2%;
          color: #04c2c9;
        }
      }
    }
  }

  .container2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    .left{
      width: 60%;
      height: 60%;
      background:white;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      &:hover{
        .shadow{
          opacity: 0;
        }
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .shadow{
        width: 100%;
        height: 100%;
        position: absolute;
        background: #64ffdb70;
        transition: all .5s linear;
      }
    }
    .right{
      width: 40%;
      height: 70%;
      position: relative;
      .featured{
        p{
          text-align: left !important;
          font-size: 1.5vw;
          font-weight: 800;
          color:#04c2c9;
        }
      }
      h1{
        font-size: 1.5vw;
        text-align: left;
      }
      .about{
        background: #0a192f;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 40vw;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 25%;
        height: 30vh;
        left: 0%;
        z-index: 5;
        font-size: 1.2vw;
        padding:5%;
        color: #8892b0;
        line-height: 20px;
        p{
          text-align: left;
        }
      }
      .lang{
        margin-top: 55%;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 5%;
        p{
          text-align: right;
          margin-top: 2%;
          color: #04c2c9;
        }
      }
    }
  }
  .h1-for-others{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
  }
  .others{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    transition: all .5s linear !important;
    .cards{
      width: 30%;
      height: 50vh;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-top: 5%;
      background:#112240;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2% 1%;
      transition: all .5s linear !important;
      position: relative;
      &:hover{
        margin-top: 4%;
        h1{
          color: #04c2c9;
        }
      }
      gap: 5%;
      h1{
        font-size: 1.5vw;
        line-height: 30px;
        color: $textColor;
        transition: all .5s linear;
      }
      p{
        font-size: 1.4vw;
        line-height: 30px;
        color: #8892b0;
        font-weight: 500;
      }
      .file{
        font-size: 3rem;
        color: #04c2c9;
        position: absolute;
        font-weight: 300;
        top: 2%;
      }
      .git{
        color:black;
        font-size: 1.5rem;
        position: absolute;
        top: 6%;
        left: 65%;
        transition: all .5s linear;
        &:hover{
          color: #04c2c9;
        }

      }
      .url{
        color:black;
        font-size: 1.5rem;
        position: absolute;
        top: 6%;
        left: 85%;
        transition: all .5s linear;
        &:hover{
          color: #04c2c9;
        }
      }
    }
  }
  .auto{
    height: 240vh;
    transition: all .5s linear !important;
  }
  .show{
    width: 15%;
    height: 8vh;
    margin-left: 42.5%;
    margin-top: 2%;
    background:#64ffdb3c;
    border: none;
    color: #04c2c9;
    border-radius: 5px;
    border: 2px solid #04c2c9;
    font-weight: 500;
    font-size: 1.2vw;
    cursor: pointer;
  }
}
.portfolioList{
  font-size: 1.6vw;
  font-weight: 500;
}
// portfolio section ends

// getInTouch section
.getInTouch{
  width: 80%;
  margin: auto;
  margin-top: 4%;
  height: 80vh;
  h1{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 4vw;
    font-weight: 900;
    color: $textColor;
    margin: 5%;
  }
  p{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2vw;
    text-align: center;
    color: #8892b0;
    margin: 5%;
    line-height: 50px;
  }
  button{
    width: 15%;
    height: 8vh;
    margin-left: 42.5%;
    margin-top: 2%;
    background:#64ffdb25;
    border: none;
    color: #04c2c9;
    border-radius: 5px;
    border: 2px solid #04c2c9;
    font-weight: 500;
    font-size: 1.2vw;
    cursor: pointer;
  }
}

// contact me page starts
.contact{
  width: 100%;
  height: auto;
  h1{
    @media (max-width:480px) {
      font-size: 2rem;
      padding-top: 2%;
      padding-bottom: 6%;
    }
    text-align: center;
    color: $headerColor ;
    margin-top: 8%;
    text-align: center;
    font-size: 3vw;
  }
  form{
    @media (max-width:480px) {
      width: 100%;
      padding-left: 4%;
    }
    width: 80%;
    margin: auto;
    height: auto;
    padding: 2%;
    input{
      @media (max-width:480px) {
        width: 90%;
      }
      display: block;
      width: 80%;
      height: 10vh;
      margin-top: 2%;
      border: solid 1px $secondaryColor;
      border-radius: 5px;
      padding-left: 2%;
      &:focus{
        outline: 1px solid $secondaryColor;
      }
    }
    textarea{
      @media (max-width:480px) {
        width: 90%;
      }
      width: 80%;
      border: solid 1px $secondaryColor;
      margin-top: 2%;
      border: none;
      border-radius: 5px;
      padding-left: 2%;
      border: solid 1px $secondaryColor;
      padding-top: 3%;
      overflow: auto;
      &:focus{
        outline: 1px solid $secondaryColor;
      }
    }
    button{
      @media (max-width:480px) {
        width: 30%;
        font-size: 0.8rem;
      }
      display: block;
      width: 20%;
      height: 8vh;
      margin-top: 2%;
      background: transparent;
      border-radius: 10px;
      cursor: pointer;
      border: 1px solid $secondaryColor;
      font-size: 1vw;
      transition: all .5s linear;
      &:hover{
        background: #04c2c9;
        border: 1px solid #04c2c9;
      }
    }
  }
}
.toggle{
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .t-icon{
    width: 15px;
    height: 15px;
  }
  .t-button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    left: 25px;
  }
}